PORT = 8000
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster0.gcyxg00.mongodb.net
CORS_ORIGIN= paste_the_url_on_which_the_frontend_is_running_locally (hosted frontend: https://gig-flow-service-hive-internship-pr.vercel.app )
ACCESS_TOKEN_SECRET = acCeSsToKeN-madeByHimansHuMisHRa
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = refREsHToKeN-madeByHimansHuMisHRa
REFRESH_TOKEN_EXPIRY = 10d